include *.md
recursive-include wqp_ui/static *
recursive-include wqp_ui/portal_ui/static *
recursive-include wqp_ui/bower_components *
recursive-include test *
recursive-include docs *
recursive-include wqp_ui/portal_ui/templates *
recursive-include wqp_ui/flask_swagger_ui/templates *
recursive-include wqp_ui/flask_swagger_ui/static *
recursive-include wqp_ui/wqx/templates *
recursive-include wqp_ui/wqx/static *
recursive-include static *
prune instance